/* about:config => toolkit.legacyUserProfileCustomizations.stylesheets = true */

#navigator-toolbox {
  visibility: collapse;
}

hbox#browser{
  border-bottom: 1px solid #919497;
}

@media (prefers-color-scheme: dark) {
  border-bottom: 1px solid #111;
}
